    @font-face {
        font-family: 'GreatVibes-Regular';
        src: url('fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
    }
    body {
    background-color: #f0f0f0; /* Optional: adds a light background color */
}

  .container {
    font-family: 'GreatVibes-Regular', cursive;
    font-size: 32px;
    width: 800px;
    padding: 30px;
    /* background: white; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Centers the content vertically */
    justify-content: center; /* Centers the content horizontally */
    flex-direction: column;
    margin: 0 auto; /* Centers the container horizontally */
    margin-top: 100px;
}
